html {
    /* border: 2px solid white; */
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px 20px;
    max-width: 800px;
    margin: 0 auto;
    /* border: 2px dotted yellow; */
}

h3 {
    margin: 0;
    margin-left: 0.5rem;
    margin-bottom: 0.2rem;
}

p {
    margin: 0;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
}

#main {
    /* background-color: var(--vscode-editor-background); */
    padding: 15px;
}


#loading {
    white-space: pre-wrap;
    word-wrap: break-word;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
}

.info-section {
    display: flex;
    justify-content: flex-start;
    gap: 5px;
}

.numpy-canvas {
    border: 2px dashed var(--vscode-editor-foreground);
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

#color-numpy-canvas {
    margin-top: 0.2rem;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  height: 8px;
  background: var(--vscode-editorGroup-border);
  outline: none;
  border-radius: 5px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: var(--vscode-button-background);
  cursor: pointer;
  margin-top: -4px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

input[type="range"]::-webkit-slider-thumb:hover {
  background: var(--vscode-button-hoverBackground);
}

input[type="range"]::-webkit-slider-runnable-track {
  background: var(--vscode-editorGroup-border);
  border-radius: 5px;
  height: 8px;
}

input[type="range"]::-moz-range-thumb {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: var(--vscode-button-background);
  cursor: pointer;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

input[type="range"]::-moz-range-track {
  background: var(--vscode-editorGroup-border);
  border-radius: 5px;
  height: 8px;
}

input[type="range"]::-ms-thumb {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: var(--vscode-button-background);
  cursor: pointer;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

input[type="range"]::-ms-track {
  background: var(--vscode-editorGroup-border);
  border-radius: 5px;
  height: 8px;
  color: transparent;
}

/* Styling the number input to match VS Code's look */
#index-input {
    width: 60px;
    background-color: var(--vscode-input-background);
    color: var(--vscode-input-foreground);
    border: 1px solid var(--vscode-input-border);
    border-radius: 2px;
    text-align: center;
}
